* {
    color: blueviolet;
    font-family: Arial, sans-serif;
    background: black
    /*font-size: 16px;
    line-height: 1.5;
    margin: 10px;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    box-sizing: border-box;
    border: 0;
    border-radius: 0;8*/
   
}